services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    command: ["--bind_ip_all"]
    volumes:
      - mongo_data:/data/db
    networks:
      - backend_net
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval 'db.runCommand({ ping: 1 }).ok' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  backend-blue:
    image: ${DOCKERHUB_USERNAME}/expo_tech_backend:blue
    container_name: backend-blue
    restart: always
    env_file:
      - .env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/service-account.json
      - GCP_BUCKET_NAME=bkt-shared-expotech-001
    volumes:
      - /home/expo_tech/backend/service-account.json:/run/secrets/service-account.json:ro
    expose:
      - "8000"
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - backend_net

  backend-green:
    image: ${DOCKERHUB_USERNAME}/expo_tech_backend:green
    container_name: backend-green
    restart: always
    env_file:
      - .env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/service-account.json
      - GCP_BUCKET_NAME=bkt-shared-expotech-001
    volumes:
      - /home/expo_tech/backend/service-account.json:/run/secrets/service-account.json:ro
    expose:
      - "8000"
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - backend_net

volumes:
  mongo_data:
    name: mongo_data
    driver: local

networks:
  backend_net:
    external: true
