version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - backend_net

  backend-blue:
    image: ${DOCKERHUB_USERNAME}/expo_tech_backend:blue
    container_name: backend-blue
    restart: always
    env_file:
      - .env
    expose:
      - "8000"
    networks:
      - backend_net

  backend-green:
    image: ${DOCKERHUB_USERNAME}/expo_tech_backend:green
    container_name: backend-green
    restart: always
    env_file:
      - .env
    expose:
      - "8000"
    networks:
      - backend_net

volumes:
  mongo_data:

networks:
  backend_net:
    driver: bridge
